<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PayrollService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <PayrollService.Properties.Settings>
      <setting name="SapConString" serializeAs="String">
        <value>Data Source=MFMLAP;Initial Catalog=SBOAffinity;User Id = sa; Password = super;</value>
      </setting>
      <setting name="PayrollConString" serializeAs="String">
        <value>Data Source=MFMLAP;Initial Catalog=HCMOneAffinity;User Id = sa; Password = super;</value>
      </setting>
      <setting name="EmployeeTimer" serializeAs="String">
        <value>120000</value>
      </setting>
      <setting name="LicenseKey" serializeAs="String">
        <value>rNUZOXBMfW067CBbf1GasiTYYNdQNqt4XxzBHJ4WUnd6xRfPJ8IcutiS33bsMBd7bLuvoCHdfSjD90Y3oceRVS/V6Z2bE94guiAKmSdJXG7BrZ+JRw5BZTB99/ZG7oJL1yCy46qJXjUp9Fv6iR9stEl0K+xQkiBroMwwaH9zDS8=</value>
      </setting>
      <setting name="EmployeeFSTimer" serializeAs="String">
        <value>86400000</value>
      </setting>
    </PayrollService.Properties.Settings>
  </userSettings>
  <nlog>
    <targets>
      <target name="logfile" type="File" fileName="applicationlog.txt" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
<appSettings>
	<add key="TelerikWinFormsThemeName" value="Fluent" /></appSettings></configuration>